.hidden {
    display: none;
}

#game-intro img {
    width: 640px;
    height: 640px;
}

.main {
    text-align: center;
}

#start-button {
    position: absolute;
    top: 562px;
    left: 408px;
}

#game-over {
    display: none;
}